{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
  <form method="POST">
    <<!--{{wtf.quick_form(form)}}-->
    <!--
    {{form.hidden_tag()}}<br>
    {{form.email.label}}{{form.email()}}<br>
    {{form.password.label}}{{form.password()}}<br>
    {{form.submit()}}
    -->
  {{form.hidden_tag()}}
  <div class="jumbo">
    <br><br><br>
    <div class="login_form">
      <div class="container">
      	<div class="d-flex justify-content-center h-100">
      		<div class="card">
      			<div class="card-header">
      				<h3>Sign In</h3>
      				<div class="d-flex justify-content-end social_icon">
      					<a href="{{url_for('login_facebook')}}"><span><i class="fab fa-facebook-square"></i></span></a>
                <a href="{{url_for('login_google')}}"><span><i class="fab fa-google-plus-square"></i></span></a>
      				 	<a href="{{url_for('login_twitter')}}"><span><i class="fab fa-twitter-square"></i></span></a>
      				</div>
      			</div>
      			<div class="card-body">
      				<form>
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-user"></i></span>
      						</div>
      					<!--	<input type="text" class="form-control" placeholder="username">-->
                &nbsp&nbsp<h4 style="color:white">{{form.email.label()}} :&nbsp</h4>&nbsp{{ form.email(class_='form-control') }}

      					</div>
      					<div class="input-group form-group">
      						<div class="input-group-prepend">
      							<span class="input-group-text"><i class="fas fa-key"></i></span>
      						</div>
      						&nbsp&nbsp<h4 style="color:white">{{form.password.label()}} :&nbsp</h4>&nbsp{{ form.password(class_='form-control') }}
      					</div>
      					<!-- <div class="row align-items-center remember">
      						<input type="checkbox">Remember Me
      					</div> -->
      					<div class="form-group">
                  {{form.submit(class_='btn float-right login_btn')}}
      						<a href="{{url_for('users.register')}}"><input type="button" value="Signup" class="btn float-right login_btn"></a>
      					</div>
      				</form>
      			</div>
      		</div>
      	</div>
        <br><br><br>
    </div>

    </div>
  </div>


  </form>
{% endblock %}
